<ng-container *ngIf="(taskService.loading$ | async);else showProjects">
<div class="loading-container">
    <h1>Loading Projects....</h1>
</div>
</ng-container>

<ng-template #showProjects >
    <div class="overview-container" *ngIf="(taskService.tasks$ | async)">

        <h1 class="project-heading"> Projects</h1>
        <div class="board">
            <div class="todo board-column">
                <h2>To do</h2>
                <button mat-raised-button (click)="navigateToAddTask()">
                    +
                </button>
                <ng-container  *ngIf="(taskService.todoTasks$ | async) as todos">
                    <app-project-item [task]="todo"  *ngFor="let todo of todos"></app-project-item>
                </ng-container>

            </div>
            <div class="inprogress board-column">
                <h2>In progress</h2>
                <button disabled mat-raised-button>
                    +
                </button>
                <ng-container  *ngIf="(taskService.inProgressTasks$ | async) as todos">
                    <app-project-item [task]="todo"    *ngFor="let todo of todos"></app-project-item>
                </ng-container>
            </div>
            <div class="completed board-column">
                <h2>Completed</h2>
                <button disabled mat-raised-button>
                    +
                </button>
                <ng-container  *ngIf="(taskService.completedTasks$ | async) as todos">
                    <app-project-item [task]="todo"    *ngFor="let todo of todos"></app-project-item>
                </ng-container>
            </div>
        </div>
    </div>


</ng-template>

<ng-template #apiFailed>
    <h1>Something Went wrong!</h1>
</ng-template>