<div class="card-container">
    <mat-card>
        <form [formGroup]="addTaskForm">
            <h1>Add Task</h1>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
                <mat-error *ngIf="addTaskForm.controls?.title?.touched && addTaskForm.controls?.title?.errors?.['required']">
                  Title is required
                </mat-error>
                <mat-error *ngIf="addTaskForm.controls?.title?.touched && addTaskForm.controls?.title?.errors?.['minlength']">
                  Min length should 4
                </mat-error>
            </mat-form-field>

            <mat-form-field >
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="addTaskForm.controls?.description?.touched && addTaskForm.controls?.description?.errors?.['required']">
                  Description is required
                </mat-error>
                <mat-error *ngIf="addTaskForm.controls?.description?.touched && addTaskForm.controls?.description?.errors?.['minlength']">
                  Min length should be 5
                </mat-error>
              </mat-form-field>

        <mat-form-field >
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" >
              <mat-option *ngFor="let priority of priorityList" [value]="priority">{{priority}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addTaskForm.controls?.priority?.touched && addTaskForm.controls?.priority?.errors?.['required']">
              Priority is required
            </mat-error>
          </mat-form-field>
          <div class="actions">
            <button (click)="goToOverView()" type="button" color="warn" mat-stroked-button>Cancel</button>
            <button [disabled]="!addTaskForm.valid" (click)="saveItem()" type="button" color="primary" mat-raised-button>Submit</button>
          </div>
     </form>     
    </mat-card>
</div>